# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/

# Environnement
.env
.venv/
venv/

# Données — ne pas committer les fichiers sources ni les outputs
data/raw/*
!data/raw/README.md
data/staging/
data/outputs/

# Docker
spark-logs/

# IDE
.idea/
.vscode/
*.swp

# dlt
.dlt/secrets.toml
pipeline_state/
